{% load static %}
<head>
    <title>Home</title>
    <link rel='stylesheet' href="{% static 'css/review.css' %}">
</head>


    {% if user.is_active %}
    <div style="text-align:right">
    <p>{{user.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url 'logout'%}">logout</a></P>
    <hr>
    <br>
    </div>
   
    {% else %}
    <div style="text-align:right">
    <a href="{% url 'accounts:signup'%}">signup</a>
    <a href="{% url 'login'%}">login</a>
    </div>
    {% endif %}
    <div style="text-align:center">
    {% for post in posts.all %}
        <div>
            <h2><a href="{% url 'detail' post.id %}">{{post.title}}</a></h2>
            <div class="ellips">{{post.text}}</div>
            <br><hr><br>
        </div>
    {% endfor %}
    <div>  
        <a href="{% url 'new'%}">글쓰기</a>
    </div>
</div>